<div class="mt-24 font-size-16 ">
  <p class="mb-8"><span class="font--heavy color--black-60"><%= project.url_type %>:</span>
    <a class="color--primary" href="#" onclick='window.open("<%= project.url_link %>");return false;'><%= project.url_link %></a>
  </p>
</div>