<div class="mt-24 font-size-16 ">
  <p class="mb-8"><span class="font--heavy color--black-60"><%= project.url_type %>:</span>
    <a class="color--primary" href="<%= project.url_link %>" target="_blank" rel="nofollow noopener ugc"><%= project.url_link %></a>
  </p>
</div>