<ul>
  <% @tasks.each do |task|%>
    <li class="line-height--22"><%= task.title %></li>
  <% end %>
</ul>
<p class="line-height--22">
  Please login to the portal to update task information.
</p>
<a class="line-height--22" href="<% root_url %>">
  <%= root_url %>
</a>