<p class="color--primary">Hello <%= @user.profile.salutation %> <%= @user.lastname.capitalize! %></p>

<p class="line-height--22">
   The following task(s) are due soon, on <%= Date.tomorrow.strftime('%d.%m.%Y') %>
</p>
<%= render('content', tasks: @tasks) %>
