<div class="email-container">
  <div class="email-content p-24">
    <h1 class="font-size--50">New Build - Tasks Due Date Tomorrow</h1>
    <p class="color--primary">Hello <%= @user.firstname.capitalize! %></p>

    <p class="line-height--22">
      The following task(s) are due soon, on <%= @task.due_date.strftime('%d.%m.%Y') %>
    </p>
    <p class="line-height--22">
      "<%= @task.title %>"
    </p>
    <p class="line-height--22">
      Please login to the portal to update task information.
    </p>
    <a class="line-height--22" href="https://new-build-loki.selise.dev/">
      https://new-build-loki.selise.dev/
    </a>
  </div>
</div>
