<div class="email-content px-32 pt-32">
  <table class="full--width">
    <tr>
      <td>
        <div class="logo mb-32">
          <%= image_tag(attachments['logo.png'].url) %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <h1 class="m-0">New Build - Project Creation Failed</h1>
      </td>
    </tr>
    <tr>
      <td><p class="color--primary mb-16 font--bold titleCase">Hello Admin,</p></td>
    </tr>
    <tr>
      <td>
        <p class="m-0">
          The project creation for the following project IDs was not possible due to some error in the portal. Please try to create the projects again.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <ul>
          <% @errors.each do |error|%>
            <li class="line-height--22"><%= error %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  </table>
<%= render('shared/disclaimer', user: @user) %>
</div>
<%= render('shared/footer') %>
