<h2 class="font-size--50">Project Import Status</h2>
<p class="color--primary"><%= t("devise.mailer.invitation_instructions.hello_user", lastname: @user.lastname) %></p>

<p class="line-height--22">
  Please find the report of the project import below:
</p>

<% @errors.each do |error| %>
  <div><%= error %></div>
<% end %>
