<table class="full--width">
  <tr>
    <td>
      <div class="logo mb-32">
        <%= image_tag(attachments['logo.png'].url) %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1 class="my-0">New Build - Building Creation Failed</h1>
    </td>
  </tr>
  <tr>
    <td><p class="mb-16 font--bold text--capitalize  font-size-16 color--black-87">Hello Admin,</p></td>
  </tr>
  <tr>
    <td>
      <p class="my-0">
        The building creation for the following building IDs was not possible due to some error in the portal. Please try to create the projects again.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <% @errors.each do |error|%>
          <li class="line-height--22"><%= error %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <div class="mt-32">
        <button type="button" class="button button__primary">
          <a href="<%= root_url %>" class="color--white font-size-12">
            Go To New Build Tool
          </a>
        </button>
      </div>
    </td>
  </tr>
</table>

