@import 'variable';
/* Button component */

.button {
  font-size: 0.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px 0 20px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: $radius;
  &__primary {
    background-color: $primary;
    color: $white;
  }
}
