@import 'variable';
@import 'utilities';

.email-container {
  width: 600px;
  margin: 0 auto;
  .email-content {
    background-color: $white;
    border-radius: $radius;
  }
}

.logo {
  margin: 0;

  img {
    width: auto;
    height: 80px;
  }
}
