@import 'variable';
@import 'utilities';

.email-wrapper {
  width: 100%;
  font-family: 'Bloom Speak OT Bold',sans-serif !important;
  background-color: $mercury !important;
}
.email-container {
  width: 600px;
  margin: 0 auto;
  .email-content {
    background-color: $white;
    border-radius: $radius $radius 0 0;
  }
}

.logo {
  margin: 0;

  img {
    width: auto;
    height: 80px;
  }
}
.email-footer {
  background-color: $catskill-white;
  border-radius: 0 0 $radius $radius;
}
