@import 'variable';
@import 'utilities';

body {
  font-family: var(--heavy-font--family) !important;
}
.building__table{
  border-collapse: collapse;
  tr{
   border-bottom: 1px solid rgba($black, 0.25) !important;
  }
}

.no-break {
  page-break-inside: avoid;
  &:before {
    clear: both;
  }
}
.address__list {
  display: inline-block;
  margin-bottom: 3%;
  width: 304px;
  height: 374px;
  vertical-align: top;
  &:nth-child(3) {
    margin-right: 0;
  }
}