$primary: #239A98;
$white: #FFFFFF;
$mercury: #E5E5E5;
$dove-gray: #666666;
$black: #000000;
$radius: 8px;


/* css box modules  */
$values: (24, 16, 32);
$directions: ('top');

/* Font size */
$font-size: (14, 16, 18);
