<% if system_generated == true %>
  <div class="full--width">
    <p class="font-size-12">
      <span class="border--black-16 px-8 pt-4 pb-8 br-8">
        <svg class="ver-middle" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.39 23.39" width="22" height="22">
          <path d="M12,23.69A11.69,11.69,0,1,1,23.69,12,11.7,11.7,0,0,1,12,23.69ZM12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Z" transform="translate(-0.31 -0.31)" style="fill:#757576"/>
          <path d="M13.08,5.64V7.78H10.92V5.64Zm0,3.43v9.29H10.92V9.07Z" transform="translate(-0.31 -0.31)" style="fill:#757576"/>
        </svg>
        <span class="ver-middle"><%= I18n.t('pdf.project.system_generated') %></span>
      </span>
    </p>
  </div>
<% end %>