<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <style>
      body {
        background-color: $mercury !important;
        font-family: 'Bloom Speak OT Bold',sans-serif !important;
        font-size: 14px;
        color: rgba($black, 0.6);
      }
  </style>
</head>

<body style="background-color: #E5E5E5; font-family: 'Bloom Speak OT Bold',sans-serif;">
  <div class="email-container py-24">
    <div class="email-content px-32 pt-32">
      <%= yield %>
      <%= render('shared/disclaimer', user: @user) %>
    </div>
  <%= render('shared/footer') %>
  </div>
</body>
</html>
