<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <style>
      /* Email styles need to be inline */
  </style>
</head>

<body>
  <div class="email-container pt-24">
    <div class="email-content p-24">
      <%= yield %>
      <div class="mt-32 py-16">
        <p class="text-align--center font-size-12 mb-0">
          This message was sent to <a href="" class="color--primary"> <%= @user.email %></a>. If you have questions or if you are not the
          intended recipient for this email, please ignore it or contact us.</p>
        <p class="text-align--center font-size-12 m-0">We’d be happy to assist you!</p>
      </div>
    </div>
  </div>
</body>
</html>
