<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <style>
      /* Email styles need to be inline */
  </style>
</head>

<body class="email-wrapper">
  <div class="email-container py-24">
    <div class="email-content px-32 pt-32">
      <%= yield %>
    <%= render('shared/disclaimer', user: @user) %>
  </div>
  <%= render('shared/footer') %>
  </div>
</body>
</html>
