<div class="text-align--center">
  <p><a href="" class="color--primary">Contact Us</a></p>
</div>
<div class="footer text-align--center">
  <p class="m-0 font-size-14">UPC Business</p>
  <p class="m-0 font-size-14">UPC Switzerland LLC, Richtiplatz 5, PO Box, 8304 Wallisellen</p>
  <p class="m-0 font-size-14 color--primary">upc.ch/business</p>
</div>